<h2 style="text-align: center"> Fonctionnalités</h2>
<div class="features">
	<div class="features-feat">
		<ion-icon name="clock"></ion-icon>
		<div class="features-feat-label">Horaires prières</div>
	</div>
	<div class="features-feat">
		<ion-icon name="calendar"></ion-icon>
		<div class="features-feat-label">Calendrier</div>
	</div>
	<div class="features-feat">
		<ion-icon name="compass"></ion-icon>
		<div class="features-feat-label">Qibla</div>
	</div>
	<div class="features-feat">
		<ion-icon name="book"></ion-icon>
		<div class="features-feat-label">Coran/Qassida</div>
	</div>
	<div class="features-feat">
		<ion-icon name="school"></ion-icon>
		<div class="features-feat-label">Majalis</div>
	</div>
	<div class="features-feat">
		<ion-icon name="apps"></ion-icon>
		<div class="features-feat-label">Plus ...</div>
	</div>

</div>
